.wrapper {
  background-color: var(--wrapper-clr);
  /* border: 2px solid red; */
  width: min(64rem, 100% - 40px);
  margin-inline: auto;
  border-radius: 0.625rem;
  min-height: 90vh;
  border: 1px solid var(--border-clr);
  padding: var(--bg-size);
}
