.item {
  display: flex;
  align-items: center;
  gap: var(--md-size);
  padding: var(--bg-size);
  padding-right: calc(var(--bg-size) * 2);
  border: 1px solid var(--border-clr);
  background-color: var(--wrapper-clr);
  border-radius: var(--md-size);
  position: relative;
}

.item .checkbox {
  height: 18px;
  aspect-ratio: 1/1;
  accent-color: #00ac00;
  cursor: pointer;
}

.item-info.packed {
  text-decoration: line-through;
  opacity: 0.5;
}

.item .delete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  aspect-ratio: 1/1;
  right: var(--md-size);
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  transition: background 0.3s ease-in-out;
}

.item .delete:hover {
  background-color: var(--background-clr);
}

.item .deleteIcon {
  color: #ff0000;
  opacity: 0.7;
}
