.item {
  display: flex;
  gap: var(--md-size);
  align-items: center;
  padding: var(--bg-size);
  border: 1px solid var(--border-clr);
  background-color: var(--wrapper-clr);
  border-radius: var(--md-size);
}
